source_up

# Names
export PACKAGE_NAME="lm-codec"
export SLACK_USER="U02MSJM2ANN"

# Versions
export VERSION_PYTHON="3.13"

# Paths
export PATH="${PWD}/bin:${PATH}"
export PROJECT_DIR="${PWD}"
export DATA_PATH="${HOME}/data"

# URIs
export DOCKER_URL="registry.hub.docker.com/multimedialabsfu/research"

# Docker
if [[ -n "${USE_DOCKER}" ]]; then
  export DOCKERIZED_CMD="dockerized"
  export BUILDER_IMAGE_TASK="builder-image"
fi

export BUILDER_IMAGE="${DOCKER_URL}:${PACKAGE_NAME}_builder"
export TRAINING_IMAGE="${DOCKER_URL}:${PACKAGE_NAME}_training"
export TRAINING_BASE_IMAGE="ubuntu:24.04"

# Flags
export DEVELOPMENT_MODE=1

# Hugging Face
export HF_TOKEN="${HF_TOKEN:-$(ansible-vault-view .huggingface.token)}"

# GCC
export CC="gcc-12"
export CXX="g++-12"
export LD_LIBRARY_PATH="${HOMEBREW_PREFIX}/lib/gcc/12:${LD_LIBRARY_PATH}"
export PATH="${HOMEBREW_PREFIX}/opt/binutils/bin:${PATH}"
